.flex-container {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap-reverse;
    width:fit-content;
    background-color: blue;
}

.flex-box {
    display: flex;
}


/*.item:nth-child(odd){
    margin: 10px 10px 20px;
}*/

.flex-box:nth-child(even) {
    background-color: brown;
   /* flex-wrap:wrap;*/
}


