header {
    align-content: center;
}
.flex-container {
    display: flex;
    flex-direction: row;
    width:fit-content;
}

.flex-box {
    display: flex;
}

.item:hover{
    background-color: black;
    color: white;
}

/*.flex-box:nth-child(even) {
    background-color: brown;
}*/

.item:nth-child(even) {
    background-color: brown;
}
.item:nth-child(odd) {
    background-color: blue;
}


