.flex-container {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap-reverse;
}

.flex-container * {
    width:fit-content;
    background-color: blue;
}

.item:nth-child(6){
    background-color: black;
}

